@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  height: 100%;
}

body {
  font-family: $base-font-family;
  color: $color-tuna;
  font-size: rem(21);
  line-height: rem(28);
  height: 100%;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-wrapper {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 992px) {
    max-width: 992px;
  }

  @media (min-width: 1230px) {
    max-width: 1200px;
    padding: 0;
  }
}

@import "modules/modules";
