header.header
    .container
        a.logo(
        href="#"
        title="На главную"
        )
            img(
            src="static/images/general/logo.png"
            alt="logo"
            )
        a.mobile-menu
            span
            span
            span
        nav.menu__nav
            span.mobile-menu__close
            ul.menu__nav-left
                li
                    a консалтинг
                li
                    a оборудование
            ul.menu__nav-right
                li.has-sub-menu
                    a о компании
                    ul.sub-menu
                        li
                            a подменю 1
                        li
                            a подменю 2
                        li
                            a подменю 3
                li
                    a контакты
        ul.menu__language-chooser
            li.active
                a ru
            li
                a en