section.bottom-nav-section
    .bottom-nav-section__stripe
    .container
        .bottom-nav-section__navs
            ul
                li
                    a консалтинг
                li
                    a Измерение ресурса ВИЭ
                li
                    a Прогноз выработки объекта ВИЭ
                li
                    a Независимый аудит объекта ВИЭ
                li
                    a Проектный консалтинг
            ul
                li
                    a оборудование
                li
                    a Измерительные мачты
                li
                    a Измерительное оборудование
                li
                    a Калибрование измерительного оборудования
            ul
                li
                    a о компании
                li
                    a Команда
                li
                    a Партнеры
                li
                    a Клиенты
                li
                    a Наши проекты
                li
                    a Новости
                li
                    a Вакансии