section.proposal-section
    h2.proposal-section__title
        | Мы предлагаем
        br
        | многоуровневые
        br
        | сервисные предложения
    .proposal-section__text
        p
            | Мы предлагаем многоуровневые сервисные предложения: от удаленного мониторинга
            | до полного обслуживания вашего завода, а также широкий спектр улучшений,
            | повышающих производительность, чтобы поддерживать бесперебойную работу ваших
            | турбин.
        p
            | Если вы ищете поддержку с незапланированным обслуживанием или заинтересованы
            | в модернизации вашего оборудования, мы сможем удовлетворить ваши потребности.