section.services-section
    .services-section__inner
        .services-section__left
            h3 Наши услуги
            a(href="#") Подробнее
        .services-section__right
            .services-section__item
                .title консалтинг
                img(
                src="static/images/content/img1.jpg"
                alt="service image"
                )
                a(href="#") Ознакомиться с услугами
            .services-section__item
                .title оборудование
                img(
                src="static/images/content/img2.jpg"
                alt="service image"
                )
                a(href="#") Ознакомиться с услугами