section.top-section
    include ../../modules/header/header
    .container
        .top-section__text
            h1.top-section__title
                | Консультационные
                br
                | услуги
            .top-section__sub-title в сфере ветроэнергетики