$font-size: 16px;
$base-font-family: "ttChocolates";
$secondary-font-family: "gilroyRegular";
$secondary-bold-font-family: "gilroyHeavy";

$color-white: #ffffff;
$color-alabaster: #f8f8f8;
$color-athens-gray: #ebecef;
$color-black-haze: #eceded;
$color-pickled-bluewood: #383e5e;
$color-martinique: #303550;
$color-tuna: #2f313c;
