footer.footer
    .footer__stripe
    .container
        .footer__container
            a.footer__logo(
            href="#"
            title="На главную"
            )
                img(
                src="static/images/general/logo2.png"
                alt="logo"
                )
            .footer__copy © 2018
                span все авторские права защищены
            ul.footer__language-chooser
                li.active
                    a ru
                li
                    a en